@page "/"
@rendermode InteractiveAuto

<ThemeRefresher />

<PageTitle>@_localizer[nameof(Resource.TitleHome)]</PageTitle>

<div style="display:flex;justify-content:center">
	<h1>Filip Bochra</h1>
</div>