@using BlazorPageScript
@inherits LayoutComponentBase

<PageScript Src="./_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js" />

 <div>
    <NavMenu />
    
    <main>
        <article>
            @Body
        </article>
    </main>
</div>