<div class="navigation-topbar">
    <nav>
        <ul class="navigation-link">
            <li >
                <NavLink ActiveClass="nav-menu-additional-active" class="nav-menu-additional" href="/login" Match="NavLinkMatch.All">
                    <img src="Icons/Login.svg" alt="LoginIcon" class="nav-icon">
                    <span>Login</span>
                </NavLink>
            </li>
            <li>
                <NavLink ActiveClass="nav-menu-additional-active" class="nav-menu-additional" href="" Match="NavLinkMatch.All">
                    <img src="Icons/MoneyTransfer.svg" alt="MoneyTransferIcon" class="nav-icon">
                    <span>Transfer</span>
                </NavLink>
            </li>
            <li>
                <NavLink ActiveClass="nav-menu-additional-active" class="nav-menu-additional" href="/history" Match="NavLinkMatch.All">
                    <img src="Icons/PaymentHistory.svg" alt="PaymentIcon" class="nav-icon">
                    <span>History</span>
                </NavLink>
            </li>
            <li>
                <NavLink ActiveClass="nav-menu-additional-active" class="nav-menu-additional" href="/profile" Match="NavLinkMatch.All">
                    <img src="Icons/ProfileIcon.svg" alt="ProfileIcon" class="nav-icon">
                    <span>Profile</span>
                </NavLink>
            </li>
        </ul>
    </nav>
</div>


@* <div>
    <nav>
        <ul class="navigation-link">
            <li>                
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
            </li>
            <li>
                <NavLink href="/login" Match="NavLinkMatch.All">
                    <span aria-hidden="true"></span> Login
                </NavLink>
            </li>
        </ul>
    </nav>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="/login" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Login
            </NavLink>
        </div>
    </nav>
</div>


*@
